.btn {
	border: none;
	font-size: large;
	color: white;
	background-color: purple;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	transition: 0.25s;
}

.btn:hover {
	background-color: mediumpurple;
	transition: 0.25s;
}

.btn:active {
	background-color: rebeccapurple;
	transition: 0.25s;
}

@media screen and (max-width: 600px)
{
	.btn {
		width: 100%;
	}
}